
table#course-objects tr.deleted {
  background-color: #eee;
  color: #ccc;
}

#course-outline-wrapper .add-objects-wrapper {
  float: left;
  width: auto;
}

#course-outline-wrapper div.form-actions {
  float: right;
  width: auto;
  padding: 0;
  margin: 0;
}

#course-outline-wrapper div.form-actions .revert {margin-left:10px;}

#course-outline-wrapper div.form-actions input {margin-right:0;}
#course-outline-wrapper .tabledrag-toggle-weight-wrapper {clear:both;position:relative;top:20px;}